.form {
  font-size: 2.5rem;
  //min-width: 400px;
  max-width: 290px;
  margin: auto;

  label {
    text-align: right;
    width: 68px;
  }
  div {
    padding: 10px;
  }
  p {
    text-align: center;
    line-height: 1.3;
  }
  i {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

.inputContainer {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.error {
  color: darken(red, 10%);
  font-size: 1rem;
}
